%div{:class=>"sentiment_bar left_to_right"}
  %div{:class=>"sentiment_bar right_to_left"}
    %span{:class=>"sentiment_marker", :style=>"left:#{Integer(((@normalised_score + 1)/2.0)*400)}px;"}="&nbsp;"