!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :'xml:lang'=>"en", :lang=>"en"}
  %head
    %meta{:"http-equiv"=>"content-type",:content=>"text/html; charset=utf-8"}
    %title Happy or Sad
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/main.css", :media=>"screen, projection"}
    %script{:type=>"text/javascript", :language=>"JavaScript", :src=>"/js/show_hide_tbl.js"}
%body
  %h1="Happy page / Sad page?"
  %form{:method=>"post", :action=>"/"}
    %input{:type=>"text", :name=>"website"}
    %input{:type=>"submit", :value=>"Happy or Sad?"}
  -if(!@score.nil?)
    %h2
      %a{:href=>@page_url, :title=>@page_url, :target=>"_blank"}=@page_url
    -if(@normalised_score  > 0.1)
      %h2="This, this is a happy page"
      %h3="... almost too happy" if(@normalised_score > 0.5)
      %img{:src=>"/img/happy-nick-cage.jpg", :title=>"Nick cage is pleased", :alt=>"Nick cage is pleased"}
    -elsif(@normalised_score  < -0.1)
      %h2="This poor page is sad, give it a hug."
      -if(@normalised_score < -0.5)
        %h3="That was too hard, you've hurt it."
        %h4="How could you?"
      %img{:src=>"/img/sad-nick-cage.jpg", :title=>"Nick cage is disappointed", :alt=>"Nick cage is disappointed"}
    -else
      %h2="This page is emotionless, cold like a polar bears nipple"
      -if(@word_count==0)
        %h3="Also, it doesn't exist"
        %h4="(Coming soon from M. Night Shyamalan)"
      %img{:src=>"/img/emotionless-nick-cage.jpg", :title=>"Nick cage is nonplussed", :alt=>"Nick cage is nonplussed"}
    %div{:class=>"sentiment_bar left_to_right"}
      %div{:class=>"sentiment_bar right_to_left"}
        %span{:class=>"sentiment_marker", :style=>"left:#{Integer(((@normalised_score + 1)/2.0)*400)}px;"}="&nbsp;"
  -if(!@word_to_score.nil? && @word_count > 0)
    %hr
    %a{:href=>"javascript:tbl_switch();", :title=>"Show why", :id=>"swtch_why"}="Why?"
    %table{:style=>"display:none;visibility:hidden;", :id=>"tbl_why"}
      %thead
        %tr
          %th="Stemmed Word"
          %th="Score"
      %tbody
        -@word_to_score.keys.each do |k|
          %tr
            %td=k
            %td=@word_to_score[k]
        %tr
          %td{:class=>"td_total"}="Total"
          %td{:class=>"td_total"}=@score
        %tr
          %td{:class=>"td_total"}="Weighted Sentiment Word Count"
          %td{:class=>"td_total"}=@word_count
        %tr
          %td{:style=>"font-weight:bold;"}="Normalised"
          %td{:style=>"font-weight:bold;"}=@normalised_score
  -if(!@err.nil?)
    %h2
      Could Not Scrape:
      %span{:class=>"error"}="#{@err}"
    