html{
    width:100%;
    margin:0px;
    background-color:#eee;
    font-family: georgia;
    font-size: 11pt;
}
body{
    margin:9px;
    background-color:#fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align:center;
    }
form{
    text-align:center;
}
a, a:visited{
    font-family: arial;
    color: #666;
    text-decoration: none;
    border-bottom: 1px dashed #666;
    padding-bottom: 2px;
}
a:hover, a:active{
    color: #FF3300;
    border-bottom: 1px dashed  #FF3300;
}
table{
    margin: 10px auto;
    
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;    
    border-spacing: 0px;
}
th, td{
    padding: 5px;
    border-right: 1px solid #666;
}
td.td_total{
    border-top: 1px solid #666;
    font-weight: bold;
}
th{
    border-bottom: 1px solid #666;    
}

h1,h2,h3,h4{
    text-align: center;
}
h2,h3,h4{
    color: #666;
    font-family: arial;
}

img.img_reaction{
    padding: 4px;
    border: 1px solid #ccc;
    background-color:#eee;
}

div.sentiment_bar{
    width: 400px;
    height: 25px;
    padding: 0px;
}
div.sentiment_bar.left_to_right{
    background: transparent url('/img/blue-to-transparent.png') no-repeat top left;
    margin: 15px auto;
}
div.sentiment_bar.right_to_left{
    background: transparent url('/img/green-to-transparent.png') no-repeat top right;
    margin: 0px;
}

div.sentiment_bar .sentiment_marker{
    width:1px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    background-color:#990000;
    height:31px;
    display: block;
    position: relative;
    top: -3px;
    color: #fff;
}

a.img_swtch{
    display:block;
    float: right;
    text-align:right;
    font-size: 10px;
    clear:right;
}
